apiVersion: apps/v1
kind: Deployment
metadata:
  name: eshwari-app
  labels:
    app: eshwari
spec:
  replicas: 2
  selector:
    matchLabels:
      app: eshwari
  template:
    metadata:
      labels:
        app: eshwari
    spec:
      containers:
        - name: eshwari-app
          image: nginx:latest            # Replace with your custom image later
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
